/*---------------general--------------------*/

body{
  background-color:#EBE6DE;
  background-attachment: fixed;
  width:100%;
  font-family: 'Karla', sans-serif;
  letter-spacing: -.02em;
}

.container{
  width: 100%;
  padding:0;
}

/*---------------home page---------------------*/
a{
  color:#42201A;
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color:#8C563C; 
  font-weight: bolder;
}
.introImage{ 
  position: relative; 
  width: 100%; /* for IE 6 */
}

.quote { 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
  font-weight: 700;
  letter-spacing: -.04em;
  color:#EBE6DE;
  text-shadow: 2px 2px 4px #42201A;
  text-align: center;
  z-index: 1;
  position: absolute;
}

.quote h1{
  font-size: 3.5em;
}

.quote p{
  font-size: 1.5em;
  padding-top: 1em;
}

#desk{
 /* background-image: url('../images/DeathtoStock_CreativeCommunity3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  -webkit-clip-path: inset(10% 0 10% 0);
  clip-path: inset(10% 0 10% 0);
  margin-bottom: 10px;
  margin-left: 0;
  margin-top: -10%;
  padding-top: 0rem;
  width:100%;
  z-index: -1;
}

.jumpLinks{
  margin-bottom: 50px;
}

.column-w-img, .sm-img{
  width: 100%;
}

.sm-img{
  height:250px;
}

#smaller-img{
  padding-left:20%;
  padding-right:20%;
    background-color: #000;

}

#wide-img{
  width:100%;
  height: 50%;
  background-color: #000;
  padding-top: 11.5%;
  padding-bottom: 11.5%;
}

.sm-img, .xsm-img, .ad-img, .art-img{
  border: 1px solid #42201A;
}

.column-w-img{
  padding-left:30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

.column-text, .column-head, .column-link{
  width:100%;
  background-color: #A38C73;
  color:#42201A;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: .04em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top:-60px;
  border: 1px solid #42201A;
}

.column-link{
  margin-top: -5px;
}

.left-align{
  float:left;
  padding-right: 20px;
}

.sectionHead{
  margin-top: 50px;
}

#coffee-left-img{
  height:400px;
  margin-left: -10px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 30%);
  clip-path: polygon(0 0, 0% 100%, 100% 30%);
  float:left;
  position: absolute;
  display: inline-block;
  z-index: -1;
}

#coffee-right-img{
  height:400px;
  margin-left: 60px;
  -webkit-clip-path: polygon(100% 0, 0 30%, 100% 100%);
  clip-path: polygon(100% 0, 0 30%, 100% 100%);
  float:right;
  position: absolute;
  display: inline-block;
  z-index: -1;
}

.interactvieContent{
  margin-top: 350px;
}

.sectionIntro{
  font-size: 60px;
  font-weight: bolder;
  display: inline-block;
  position: relative;
  padding-top: 100px;
}

.rightHead{
  color: #42201A;
  text-shadow: 2px 4px 2px #EBE6DE;
  margin-left: 650px;
}

.leftHead{
  color: #EBE6DE;
  text-shadow: 2px 4px 2px #42201A;
  margin-left: 375px;
}

.secondRow{
  margin-top: 100px;
  margin-bottom: 25px;
}

.bottom{
  margin-bottom: 100px;
}
/*---------------footer---------------------*/

footer{
  background-color: #8C563C;
  height: 13rem;
  padding-top: 4rem;
  margin-top: 30px;
}

.smallText{
  color: #EBE6DE;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
}

.fa{
  display:inline-block;
  color:#EBE6DE;
  padding-left: .25em;
  padding-right: .25em;
}

.footer-text{
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
  line-height: 2rem;
  color:#EBE6DE;
  font-size: 20px;
  font-weight: 200;
}

.footer-text a, .smallText a{
  text-decoration: none;
  color:#EBE6DE;
}

.footer-text a:hover, .smallText a:hover{
  color: #42201A; 
  cursor: pointer;
}



/*----------------additional gallery formating----------------*/

.top-content{
  margin-top: 6rem;
}

.full-width-text{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align: center;
  font-size: 1.2rem;
}

.mid-content{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.bottom-content{
  margin-bottom: 8rem;
}

.column-para{
  padding-left:30px;
  padding-right: 60px;
  text-align: left;
  font-size: 1.2rem;
}

/*-----------digital gal. hover------------*/

.skills{
  position: absolute;
  margin-top: -200px;
  font-size: 20px;
  padding-left: 30%;
  font-weight: bold;
}



/*-----------print gal. scroller-------*/
.ad-img{
  width:716.578px;
}

#ad-scroll{
  width:716.578px;
  height:268px;
}

#ad-scroll div{
  position: absolute;
  z-index: 0;
}

#ad-scroll div.previous-a{
  z-index:1;
}

#ad-scroll div.current-a{
  z-index: 2;
}

.xsm-img{
  width:400px;
  margin-left: 200px;
}

#poster-scroll{
  width:716.578px;
  height:587px;
}

#poster-scroll div{
  position: absolute;
  z-index: 0;
}

#poster-scroll div.previous-p{
  z-index:1;
}

#poster-scroll div.current-p{
  z-index: 2;
}

.previous{
  z-index:1;
}

.current{
  z-index: 2;
}

.art-img{
  width:400px;
  margin-left: 200px;
}
