/*---------------general--------------------*/
/*-- important colors: pale brown #EBE6DE, medium-dark brown: #A38C73, medium-light brown: #8C563C, dark brown:#42201A; deep teal: #0F403B--*/

body{
  background-color:#fff;
  background-attachment: fixed;
  width:100%;
  font-family: 'Lora', serif;

}
/*---------------home page---------------------*/
a{
  color:#42201A;
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color:#42201A; 
  font-weight: bolder;
}

.introImage{ 
  position: relative; 
  width: 100%;
}

.quote { 
  position: absolute; 
  top: 200px; 
  left: 0; 
  width: 100%; 
  font-weight: 700;
  letter-spacing: -.04em;
  color:#EBE6DE;
  text-shadow: 2px 2px 4px #42201A;
  text-align: center;
  z-index: 1;
  position: absolute;
}

.quote h1{
  font-size: 3.5em;
  font-family: 'Lora', serif;
}
.element{
  line-height: 1.5em;
}
.element p{
  font-size: 2.5em;
  padding-left: 600px;
}

#desk{
 /* background-image: url('../images/DeathtoStock_CreativeCommunity3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  -webkit-clip-path: inset(10% 0 10% 0);
  clip-path: inset(10% 0 10% 0);
  margin-bottom: 10px;
  margin-left: 0;
  margin-top: -10%;
  padding-top: 0rem;
  width:100%;
  z-index: -1;
}

.jumpLinks{
  margin-bottom: 50px;
  margin-top: -10px;
}

.about{
  width:100%;
  background-color: #A38C73;
  border-top: 2px solid #42201A;
  border-bottom: 2px solid #42201A;
  padding: 30px;
  margin-bottom: 60px;
  margin-top: 50px;
}

.aboutParagraph{
  font-size: 25px;
  color:#42201A;
  background-color: #EBE6DE;
  padding:30px;
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 1.25;
  border:6px;
  border-style:ridge;

}

.column-w-img, .sm-img{
  width: 100%;
}

.sm-img{
  height:250px;
}

#smaller-img{
  padding-left:20%;
  padding-right:20%;
  background-color: #000;

}

#wide-img{
  width:100%;
  height: 50%;
  background-color: #000;
  padding-top: 12%;
  padding-bottom: 12%;
}

.sm-img, .xsm-img, .ad-img, .art-img{
  border: 1px solid #42201A;
}

.column-w-img{
  padding-left:30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

.column-text, .column-head, .column-link{
  width:100%;
  background-color: #8C563C;
  color:#EBE6DE;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: .04em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #42201A;
}

.column-link{
  margin-top: -5px;
}

.column-head a{
  color:#EBE6DE;
  text-decoration: none;
}

.column-head a:hover{
  color: #067066; 
  cursor: pointer;
  text-shadow: 1px 1px 1px #EBE6DE;
}

.left-align{
  float:left;
  padding-right: 20px;
}

.sectionHead{
  margin-top: 50px;
}

#coffee-left-img{
  height:400px;
  margin-left: -10px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 30%);
  clip-path: polygon(0 0, 0% 100%, 100% 30%);
  float:left;
  position: absolute;
  display: inline-block;
  z-index: -1;
}

#coffee-right-img{
  height:400px;
  width: 1325px;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-clip-path: polygon(100% 0, 0 30%, 100% 100%);
  clip-path: polygon(100% 0, 0 30%, 100% 100%);
  position: absolute;
  display: inline-block;
  z-index: -1;
}

.interactvieContent{
  margin-top: 350px;
}

.sectionIntro{
  font-size: 60px;
  font-weight: bolder;
  display: inline-block;
  position: relative;
  padding-top: 100px;
}

.rightHead{
  color: #42201A;
  text-shadow: 2px 4px 2px #EBE6DE;
  margin-left: 650px;
}

.leftHead{
  color: #EBE6DE;
  text-shadow: 2px 4px 2px #42201A;
  margin-left: 375px;
}

.secondRow{
  margin-top: 100px;
  margin-bottom: 40px;
}

.bottom{
  margin-bottom: 100px;
}

.goHome{
  background-color: #EBE6DE;
  color:#42201A;
  padding:10px;
  cursor: pointer;
  font-size:16px;
  font-weight: bold;
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 2px #42201A;
  -moz-box-shadow: 0px 1px 2px #42201A;
  box-shadow: 0px 1px 2px #42201A;
}

/*-----------digital gal. hover------------*/

.skills{
  position: absolute;
  margin-top: -200px;
  font-size: 20px;
  padding-left: 30%;
  font-weight: bold;
}

/*---------------footer---------------------*/

footer{
  background-color: #8C563C;
  height: 13rem;
  padding-top: 4rem;
  margin-top: 60px;
  font-family: 'Lora', serif;

}

.smallText{
  color: #EBE6DE;
  font-size: 14px;
  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}

.fa{
  display:inline-block;
  color:#EBE6DE;
  padding-left: .25em;
  padding-right: .25em;
}

.footer-text{
  padding-top: 4rem;
  padding-bottom: 1rem;
  text-align: center;
  line-height: 2rem;
  color:#EBE6DE;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Lora', serif;
}

.footer-text a, .smallText a{
  text-decoration: none;
  color:#EBE6DE;
    font-family: 'Lora', serif;
  font-weight: bold;
}

.footer-text a:hover, .smallText a:hover{
  color: #067066; 
  cursor: pointer;
  text-shadow: 1px 1px 1px #EBE6DE;

}



/*----------------additional gallery formating----------------*/
.back{
  z-index: -1;
  position: relative;
    margin-top: 120px;

}

.title, .title-top{
  font-size: 3.5em;
  text-align: center;
  margin-top: 75px;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  color:#42201A;
  text-shadow: 2px 2px 4px #EBE6DE;
}

.title-top{
  margin-top: 100px;
}

.projectImage, .projectImage2, .printImage{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #42201A;
  margin-bottom: 30px;

}

.projectImage2 {
  margin-bottom: 100px;
}

.printSkills, .description{
  font-size: 20px;
  font-weight: bold;
  line-height: 1.15;
  color:#42201A;
}

.description{
  margin-bottom: 20px;
}

.centerButton{
  margin-top: 30px;
  margin-left: 45%;
  margin-right: 45%;
  margin-bottom: 50px;
}

/*---------------nav bar---------------------*/

.nav-bar{
  width:100%;
  height: 4.375rem;
  z-index: 10;
  background-color: rgba(241, 241, 241, .7);
  position: fixed; 
  font-family: 'Lora', serif;
 
}

.bar{
  background-color: #8C563C;
  width:100%;
  height: 40px;
  margin-top: 30px;
  position: fixed;
  border-top: 1px solid #42201A;
  border-bottom: 1px solid #42201A;
  display: block;
  box-shadow: 0 .3em 1em #42201A;
}

.nav-content{
  height: 4.5rem;
  margin: 1rem auto;
  padding: 0 1rem;
  margin-top: -1.15rem;
  width:90%;
}

.nav-content .nav-links{
  float:right;
  margin-top: 1.75rem;
  font-size: 20px; 
  color: #EBE6DE; 
  font-weight: bold;
}

.nav-content .nav-links > .active {
  color: #EBE6DE; 
}

.nav-content .nav-links li{
  display:inline-block;
  margin-left: 25px;
}

.nav-content .nav-links li a, a{
  text-decoration: none;
  color: #EBE6DE; 
}

.nav-content .nav-links li a:hover, .description a:hover{
  color: #067066; 
  cursor: pointer;
  text-shadow: 1px 1px 1px #EBE6DE;

}


/*---------------about me page--------------------*/


.masthead-heading, .masthead-intro, .content-footer{
  text-align: center;
}

.aboutImg{
  width:100%;
  z-index: -1;
  position: relative;
}

.masthead-intro{
  /* layout declarations */
  margin-bottom: 0.6em;
  z-index: 1; 
  position: absolute;
    
  /* typography declarations */
    font-family: 'Lora', serif;
  font-size: 2em;
  color:#42201A;
  font-weight: bold;
}

.masthead-heading {
  /* layout declarations */
  margin-top: -0.2em;
  position: absolute;

  /* typography declarations */
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 6em;
  text-transform: uppercase;
  color: #42201A;
  text-shadow: 1px 1px 2px #000000;
}
  /* responsive fix header*/

@media only screen and (max-width: 500px) {
    .masthead{
      padding 1.5em 0;
      height: 9.38em;
    }
    .masthead-heading {
        font-size: 3em;
    }
  
}

.introduction-section,
.location-section, 
.questions-section {
  max-width: 80%;
  margin-left: 10%;
  margin-right:10%;
  margin-top: 2em;
}

.questions-section{
  margin-bottom: 50px;
}

.aboutText{
  margin-bottom: 10px;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #42201A;
  margin-bottom: 5px;
  line-height: 1.2;
}

.aboutText a{
  text-decoration: underline;
}

.aboutText a:hover{
  color: #067066; 
  cursor: pointer;
}
 /* responsive fix content*/

@media only screen and (max-width: 700px){
  .introduction-section, .location-section, .questions-section {
    padding: 0 1em;
  }
}


.questions-section > h2{
  /*typography declarations*/
  font-family: 'Lora', serif;
  font-size: 20px;
  font-weight: bold;
  color: #8C563C;
  margin-top: 15px;
  margin-bottom: 10px;
}

.designList{
  font-family: 'Lora', serif;
  font-size: 18px;
  color: #42201A;
}

.emphasisPoint{
  list-style-type: square;
  margin-left: 18px;
  margin-bottom: 5px;

}

.indent{
  margin-left: 19px;
  padding-bottom: 15px;
}

section > h1 {
    font-family: 'Lora', serif;
  margin-top: 2em;
  color: #42201A;
    font-size: 25px;
  font-weight: 700;
  letter-spacing: .04em;
  text-align: center;
}
