/*colors: grey:73818c; darkblue: 0f2543; med-darkblue:294468;
*/

.headerImg{
  width:100%;
  overflow: hidden;
  margin-left: 0;
  padding-top: 0rem;
  z-index: -1;
}

.navbar{
  height:40px;
  width: 100%;
  margin-bottom: 30px;
  background-color: rgba(71,84,96,0.5);
  border:0;
  margin-top: -50px;
  z-index: 9998;
}

.navbar-default .navbar-nav>li>a{
  color:#fff;
  font-size: 20px;
  font-family: 'Varela Round', sans-serif;
  padding:15px;
}

.navbar-default .navbar-nav>li>a:hover{
  color:#0f2543;
  background-color: #73818c;
}

.navbar.navbar-fixed-top{
  z-index: 9999;
  position: fixed;
  width: 100%;
  margin-top:0px;
  padding-left: 15px;
  padding-right: 15px;
}

.logoImg{
  width:40px;
}

.about{
  width:60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin-bottom: 50px;
}

.about.fixed-nav{
  margin-top: 50px;
}

.emphasis{
  font-style: italic;
}

header h1{
  text-align: center;
  width: 100%;
  margin-left:0;
  margin-right: 0;
  margin-top: 30px;
  margin-bottom: 30px;
  color:#294468;
  font-family: 'Varela Round', sans-serif;
  font-size: 40pt;
  font-weight: 700;
}

.indent{
  width:80%;
  margin-right: 10%;
  margin-left: 10%;
}

.workImg{
  width:100%;
  margin-bottom: 50px;
  border: 1px solid #000;
}

.btn{
  padding:0;
}

.modalImg{
  width:100%;
}



