/*---------------nav bar---------------------*/

.nav-bar{
  width:100%;
  height: 4.375rem;
  z-index: 9999;
  background-color: rgba(241, 241, 241, .7);
 
}

.bar{
  background-color: #A4A4A4;
  width:100%;
  height: 40px;
  margin-top: 30px;
  position: fixed;
  border-top: 1px solid #0C0D0D;
  border-bottom: 1px solid #0C0D0D;
  display: block;
  box-shadow: 0 .3em 1em #0C0D0D;
}

.nav-content{
  height: 4.5rem;
  margin: 1rem auto;
  padding: 0 1rem;
  margin-top: -1.15rem;
  width:90%;
}

.nav-content .nav-links{
  float:right;
  margin-top: 1.75rem;
  font-size: 18px; 
  color: #0C0D0D; 
  font-weight: bold;
}

.nav-content .nav-links > .active {
  color: #067066; 
  font-weight: bolder;
}

.nav-content .nav-links li{
  display:inline-block;
  margin-left: 25px;
}

.nav-content .nav-links li a, a{
  text-decoration: none;
  color: #42201A; 
  font-weight: bold;
}

.nav-content .nav-links li a:hover , a:hover{
  color: #8C563C; 
  font-weight: bolder;
  cursor: pointer;
}

.nav-logo{
  margin-top: 0;
}
.image{
  position: relative;
  
}

#quote{
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -.04em;
  color:#067066;
  text-align: center;
  z-index: 1;
  position: absolute;
}

.attribute{
  font-size: 2em;
  text-align: right;
  color:#067066;
  padding-top: 10px;
}

.intro {
  z-index: 9998;
  margin-left: auto;
  margin-right: auto;
  width:65%;
}

span{
  background: rgba(241, 241, 241, .7);
  padding: 10px;
}

.photo-credit{
  float:right;
  margin-top: 250px;
  z-index: 9997;
  font-size: 10px;
  position: relative;
}

.photo-credit a{
  color: #0C0D0D;
  text-decoration: none;
}

.photo-credit a:hover{
  color:#067066;
  cursor: pointer;
}

/*.col-2{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  margin-bottom: 1rem;
}
*/
/*
.top-body-content{
  width: 90%;
  margin-left: 50%;
  margin-right: 50%;
  position: relative;
  display: inline-block;
  background-color: #F1F1F1;
  border: 1rem solid #F1F1F1;
  box-shadow: 0 .3em 1em #0C0D0D;
  margin-bottom: 1rem;
  margin-top:6rem;
  transform: translate(-50%,0);
}

.column-body{
  font-size: 16px;
  font-weight: 200;
  letter-spacing: -.04em;
  padding: 1rem;
}

.add-imgs{
  float:left;
  padding-top: 1rem;
}
*/

/*----------------unused----------------

hr{
  background-color: #A4A4A4;
  width:100%;
  height: 3rem;
  border-top: 1px solid #0C0D0D;
  border-bottom: 1px solid #0C0D0D;
  display: block; 
  box-shadow: 0 .3em 1em #0C0D0D;
  margin-bottom:1.5rem;
}


.four-imgs{
  width:80%;
  margin: 0px auto;
  overflow: hidden;
  margin-top: 5rem;
  padding-bottom: 5%;
}

.img-wrap .caption { 
  opacity: 0; 
  position: absolute;
  width:40%;
  height:325px;
  color: black; 
  background: lime; 
  text-align: center; 
  font-weight:bold; } 

.img-wrap:hover .caption { 
    opacity: 0.7; 
    line-height: 300px;
} 

.caption{
  font-size: 2.5em;
}

.img-left, .img-right{
  width: 50%;
  display:inline-block;
  height: 325px;
}

.img-left{
  float:left;
  display: inline-block;
}

.img-right{
  float:right;
  display: inline-block;
}


.logo {
   position:absolute;
    top: 88%;
    left: 53%;
    margin-right: -50%;
    transform: translate(-88%,-53%);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.top-content{
  width: 90%;
  margin-left: 50%;
  margin-right: 50%;
  position: relative;
  display: absolute;
  background-color: #F1F1F1;
  border: 1rem solid #F1F1F1;
  box-shadow: 0 .3em 1em #0C0D0D;
  margin-bottom: 1rem;
  margin-top:6rem;
  transform: translate(-50%,0);
}

.body-content{
  width: 90%;
  margin-left: 50%;
  margin-right: 50%;
  display: table;
  position: relative;
  border: 1rem solid #F1F1F1;
  background-color: #F1F1F1;
  box-shadow: 0 .3em 1em #0C0D0D;
  margin-top: 1rem;
  margin-bottom: 2rem;
  transform: translate(-50%,0);
}

h2{
  font-size: 2.5em;
  font-weight: 700;
  letter-spacing: -.04em;
}

.body-content .right-txt{
  float:right;
  display: inline-block;
  padding-top: 10%;
}


.body-content .left-txt{
  float:left;
  display: inline-block;
  padding-top: 10%;
}

.row{
  margin-bottom: 5rem;
  position: relative;
}

#digital{
  width:100px;
}

#print{
  width: 100px;
}



*/


.top-content{
  margin-top: 6rem;
}

.full-width-text{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  text-align: center;
  font-size: 1.2rem;
}

.mid-content{
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.bottom-content{
  margin-bottom: 8rem;
}

.column-para{
  padding-left:30px;
  padding-right: 60px;
  text-align: left;
  font-size: 1.2rem;
}


/*-----------print gal. scroller-------*/
.ad-img{
  width:716.578px;
}

#ad-scroll{
  width:716.578px;
  height:268px;
}

#ad-scroll div{
  position: absolute;
  z-index: 0;
}

#ad-scroll div.previous-a{
  z-index:1;
}

#ad-scroll div.current-a{
  z-index: 2;
}

.xsm-img{
  width:400px;
  margin-left: 200px;
}

#poster-scroll{
  width:716.578px;
  height:587px;
}

#poster-scroll div{
  position: absolute;
  z-index: 0;
}

#poster-scroll div.previous-p{
  z-index:1;
}

#poster-scroll div.current-p{
  z-index: 2;
}

.previous{
  z-index:1;
}

.current{
  z-index: 2;
}

.art-img{
  width:400px;
  margin-left: 200px;
}